  <ngb-tabset #t="ngbTabset">
      <ngb-tab id="tab-selectbyid1">
        <ng-template ngbTabTitle><span>&#9733; <b>EVENT DESIGN</b> &#9733;</span></ng-template>
        <ng-template ngbTabContent>
            <p>As event designers, it is our job to understand your vision and sense of style, then tailor-make an extraordinary environment just for you. We start your design with a floorplan, interpreting how a space will be used to best suit your needs. By the end, you will have a magical environment—rich in details and unexpected moments… one where your guests will never want to leave. Design includes:</p> 
                <ul class="list">
                  <li>Concept development and storyboarding</li>
                  <li>Illustrations, sketches &amp; floor plans – the blueprint for overall design</li>
                  <li>Scaled floor plans and elevations</li>
                  <li>Stylize visuals – bars, food stations, signage, band, staff attire</li>
                  <li>Distinctive floral and tabletop design</li>
                  <li>Custom graphic design for wall, floor &amp; ceiling treatments</li>
                  <li>Lighting design and coordination, including custom light fixtures</li>
                  <li>Custom furniture/accessories – lounge, bars, banquettes, dining tables</li>
                  <li>Draping, upholstery and linens to compliment design vision</li>
                </ul>  
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-selectbyid2">
        <ng-template ngbTabTitle><span>&#9733; <b>EVENT PLANNING </b> &#9733;</span></ng-template>
        <ng-template ngbTabContent>
          <p>Our team thrives on creating extraordinary events, and seeing them through to spectacular conclusion. Fête events are raved about time and again because every facet of the experience speaks the same language. Cohesive creativity is our touchstone, and no detail goes unconsidered—be it food, service, music or design. These unite in harmony, creating a spirit of enthusiasm and celebration. While based in New Jersey, we are hired for events around the country and worldwide.</p>
          <ul class="list">
              <li>Manage the planning process, developing the overall event vision</li>
              <li>Creativity/Integration across all facets – design, music, food, photography, etc…</li>
              <li>Ensure client’s voice is upheld throughout process</li>
              <li>Venue and vendor selection, contract management</li>
              <li>Budget planning and management</li>
              <li>Coordination of paper product design, production and mailing assembly</li>
              <li>Logistical management of vendor load-in, production and load-out</li>
              <li>Onsite day-of management and ownership of event execution</li>
              <li>Manage flow/orchestration of all timing &amp; details throughout</li>
              </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="tab-selectbyid3">
          <ng-template ngbTabTitle><span>&#9733; <b>HOSPITALITY CONSULTING</b> &#9733;</span></ng-template>
          <ng-template ngbTabContent>
            <p>Our offers general consulting services for hotel and independent event locations to develop growth strategies and modernizing their service offering. Services include:</p>
            <ul class="list">
                <li>Interior Design Services – oversee design for all event space visuals:
                <ul class="list">
                <li>Flooring, wall and window treatments</li>
                <li>Tabletops – china, glassware, flatware, chairs, napkins, décor</li>
                <li>Service Spaces – buffet tables, bars, lounge furniture, table options</li>
                </ul>
                </li>
                <li>Service Consulting
                <ul class="list">
                <li>Service standards and methods</li>
                <li>Staff attire</li>
                <li>Service elements – tray selection, bar and table setup</li>
                </ul>
                </li>
                <li>Guest and Client Experience Consulting</li>
                </ul>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>

