<p>
 
Silver Leaf a full-service event planning and design production firm based in New Jersey, creates extraordinary events for discriminating private and corporate clients throughout the US and across the globe. Under the direction of co-founder Jung Lee, Silver Leaf has become one of the world’s most celebrated and sought-after event companies.
Silver Leaf events are highly customized and reflect the personality and essence of each client, whether an individual, product or company. Jung recognizes that incredible events need to go beyond just great design. She cultivates experiences that integrate incredible design with the finest in cocktails, dining experiences, music, entertainment and surprises. Through each element, Jung masterfully curates each detail, striking the right balance in all of these to create a tailor-made event with incredible energy from start to finish. Each custom experience is rich in meaningful detail and full of personality; guests never want to leave.
Silver Leaf is one of the only companies that conceptualizes, designs, plans and oversees all key elements of an event in-house. This allows for unmatched quality control and ensures that the vision stays cohesive. Far more than just stunning visuals, Silver Leaf event is painstakingly orchestrated from start to finish by the Silver Leaf team. 
The flow is seamless yet natural, energy elevates as the experience progresses. It is this ultra-high level of workmanship and detail that puts a Silver Leaf event in a category all its own.
</p>
<div class="container-fluid bg-3 text-center">    
  <h3>Our Team</h3><br>  
  <div class="row">
    <div class="col-sm-6">
      <p>Monika Chaudhary</p>
      <img src="assets/images/monika.png" alt="Image" width="350" height="300">
    </div>
    <div class="col-sm-6"> 
      <p>Sunita Balayan</p>
      <img src="assets/images/sunita.png" alt="Image" width="350" height="300">
    </div>
    <div class="col-sm-6"> 
      <p>Raj</p>
      <img src="assets/images/Raj2.png" alt="Image" width="350" height="300">
    </div>
     <div class="col-sm-6"> 
      <p>Raj</p>
      <img src="assets/images/Raj1.png" alt="Image" width="350" height="300">
    </div>
  </div>
</div>